.app-client {
  // 设置父容器与页面等高
  height: calc(100% - 36px);

  padding-top: 36px;
  
  .el-container {
    height: 100%;
  }

  .el-aside {
    height: 100%;
  }

  .el-menu {
    border: 0;
  }

  // 左侧菜单容器
  .left-aside {
    position: fixed;
    top: 36px;
    width: 60px;
    height: 100%;
    border-right: solid 1px #f5f5f5;
    background-color: #545c64;
    // 菜单高度
    .el-menu-item {
      height: 50px !important;
    }
    // 菜单宽度
    .el-menu--collapse {
      width: 100%;
    }
    // 菜单图标
    .el-tooltip {
      display: block !important;
      padding: 0 30% !important;
      [class^='el-icon-'] {
        font-size: 22px;
      }
    }
    // 头像框
    .avatar-box {
      height: 40px;
      padding-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      img {
        width: 60%;
      }
    }
    .name-box {
      height: 40px;
      text-align: center;
      color: aliceblue;
    }
    .setting-box {
      height: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .app-box {
    width: 100%;
  }

  // 右侧主界面容器
  .main-box {
    margin-left: 410px;
    width: 100%;
    .el-select {
      width: 100%;
    }
  }
}
