// 中间功能列表容器
.tool-box {
  position: fixed;
  left: 60px;
  width: 350px;
  height: 100%;
  border-right: solid 1px #f5f5f5;
  // 搜索框
  .search-box {
    .el-input {
      width: 84%;
      padding: 20px 5px 20px 10px;
    }
    .el-button--mini {
      padding: 7px 7px;
    }
  }
  // 流程列表
  .task-list {
    height: calc(100% - 68px);
    .el-table {
      height: 100%;
      // background-color: #f5f5f5;
      // 选中行的颜色
      .el-table__body tr.current-row > td {
        // background-color: #ebe9e7;
      }
      // 正常行的颜色
      .el-table__row {
        height: 50px;
        // background-color: #f5f5f5;
      }
    }
  }
}

.todo-box {
  margin-left: 410px;
  width: 100%;
  .content {
    .el-collapse {
      margin-bottom: 30px;
    }
  }
}

.task-card {
  .item {
    padding: 10px 0px;
  }
  .el-tag {
    margin-right: 5px;
  }
  .el-card {
    min-height: 65px;
    margin-bottom: 20px;
  }
  .el-icon-question {
    margin-right: 5px;
    color: #E6A23C;
  }
  .el-icon-success {
    margin-right: 5px;
    color: #67C23A;
  }
}
