.flow-editor {
  height: calc(100% - 36px);

  .flow-item-container {
    .el-button {
      display: block;
      border-color: #c6e2ff;
      width: 80%;
      margin: 15px 10%;
      text-align: left;
      cursor: move;
    }
  }

  .el-container {
    height: 100%;
  }

  .el-aside {
    width: 20%;
    height: 100%;
  }

  .el-main {
    border-left: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    .flow-page {
      .el-button {
        margin: 0;
        width: 200px;
      }
    }
  }

  // 中间，图
  .flow-page {
    background-color: #f9f9f9;
    min-height: 100%;
  }

  // 右侧配置
  .flow-config {
    .el-select {
      width: 100%;
    }
  }
}
