<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gyfish.formflow.dao.DFormMapper">

    <resultMap id="BaseResultMap" type="com.gyfish.formflow.domain.form.definition.DForm">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, title, create_time, update_time
    </sql>

    <!-- 插入一条记录，返回自增主键 -->
    <insert id="insert"
            parameterType="com.gyfish.formflow.domain.form.definition.DForm"
            useGeneratedKeys="true"
            keyProperty="id">
        insert into d_form (id, title, create_time, update_time)
        values (#{id, jdbcType=INTEGER},
                #{title, jdbcType=VARCHAR},
                #{createTime, jdbcType=TIMESTAMP},
                #{updateTime, jdbcType=TIMESTAMP})
    </insert>

    <!-- 获取列表 -->
    <select id="getFormList" resultMap="BaseResultMap">
        select id, title, create_time, update_time
        from d_form
    </select>


</mapper>