<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gyfish.formflow.dao.DFormItemMapper">

    <resultMap id="BaseResultMap" type="com.gyfish.formflow.domain.form.definition.DFormItem">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="form_id" property="formId" jdbcType="INTEGER"/>
        <result column="prop" property="prop" jdbcType="VARCHAR"/>
        <result column="item_type" property="itemType" jdbcType="VARCHAR"/>
        <result column="label" property="label" jdbcType="VARCHAR"/>
        <result column="placeholder" property="placeholder" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="input_type" property="inputType" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, d_form_id, prop, item_type, label, placeholder, icon, input_type, create_time,
        update_time
    </sql>

    <insert id="insertMany" parameterType="java.util.List">
        insert into d_form_item
        (
        id,
        d_form_id,
        prop,
        item_type,
        label,
        placeholder,
        icon,
        input_type,
        create_time,
        update_time
        )
        values
        <foreach collection="list" item="item" separator=",">
            (
            #{item.id, jdbcType=INTEGER},
            #{item.dFormId, jdbcType=INTEGER},
            #{item.prop, jdbcType=VARCHAR},
            #{item.itemType, jdbcType=VARCHAR},
            #{item.label, jdbcType=VARCHAR},
            #{item.placeholder, jdbcType=VARCHAR},
            #{item.icon, jdbcType=VARCHAR},
            #{item.inputType, jdbcType=VARCHAR},
            #{item.createTime, jdbcType=TIMESTAMP},
            #{item.updateTime, jdbcType=TIMESTAMP}
            )
        </foreach>
    </insert>

    <select id="getFormItems" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select *
        from d_form_item
        where d_form_id = #{dFormId}
    </select>
    
</mapper>