<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gyfish.formflow.dao.DFormOptionMapper" >

  <resultMap id="BaseResultMap" type="com.gyfish.formflow.domain.form.definition.DFormOption" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="item_id" property="itemId" jdbcType="VARCHAR" />
    <result column="label" property="label" jdbcType="VARCHAR" />
    <result column="value" property="value" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, item_id, label, value
  </sql>

</mapper>