<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gyfish.formflow.dao.FlowNodeMapper">

    <resultMap id="BaseResultMap" type="com.gyfish.formflow.domain.flow.FlowNode">
        <id column="id" property="id"/>
        <result column="uuid" property="uuid"/>
        <result column="form_id" property="formId"/>
        <result column="process_id" property="processId"/>
        <result column="node_name" property="nodeName"/>
        <result column="node_type" property="nodeType"/>
        <result column="status" property="status"/>
        <result column="handler_id" property="handlerId"/>
        <result column="handler_name" property="handlerName"/>
        <result column="handler_group_id" property="handlerGroupId"/>
        <result column="handler_group_name" property="handlerGroupName"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, uuid, next_node_id, form_id, process_id, node_name, node_type, status,
        handler_id, handler_name, handler_group_id, handler_group_name
    </sql>


    <!-- 插入一条记录，返回自增主键 -->
    <insert id="insertFlowNodeBatch"
            keyProperty="id"
            useGeneratedKeys="true"
            parameterType="java.util.List">

        insert into `flow_node` (
            id, next_node_id, form_id, process_id, node_name, node_type, status,
            handler_id, handler_name, handler_group_id, handler_group_name
        )
        <foreach collection="nodes" item="node" index="index" open="values" separator="," close=";">
            (
                #{node.id}, #{node.nextNodeId}, #{node.formId}, #{node.processId}, #{node.nodeName}, #{node.nodeType}, #{node.status},
                #{node.handlerId}, #{node.handlerName}, #{node.handlerGroupId}, #{node.handlerGroupName}
            )
        </foreach>
    </insert>


    <select id="getNodeList" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            `flow_node`
        where
            uuid = #{uuid}
    </select>


</mapper>