<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gyfish.formflow.dao.FlowInfoMapper">

    <resultMap id="BaseResultMap" type="com.gyfish.formflow.domain.flow.FlowInfo">
        <id column="id" property="id"/>
        <result column="uuid" property="uuid"/>
        <result column="title" property="title"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, uuid, title, create_time, update_time
    </sql>

    <!-- 插入一条记录，返回自增主键 -->
    <insert id="insertFlowInfo"
            keyProperty="id"
            useGeneratedKeys="true"
            parameterType="com.gyfish.formflow.domain.flow.FlowInfo">

        insert into `flow_info`
            (uuid, title)
        values
            (#{uuid}, #{title})
    </insert>

</mapper>