<?xml version="1.0" encoding="UTF-8" ?><!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gyfish.formflow.dao.FlowDao">

    <resultMap id="BaseResultMap" type="com.gyfish.formflow.domain.flow.FlowInfo">
        <id column="id" property="id"/>
        <result column="uuid" property="uuid"/>
        <result column="title" property="title"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, uuid, title, create_time, update_time
    </sql>

    <!-- 插入一条记录，返回自增主键 -->
    <insert id="insertFlowInfo"
            keyProperty="id"
            useGeneratedKeys="true"
            parameterType="com.gyfish.formflow.domain.flow.FlowInfo">

        insert into `flow_info`
            (uuid, title)
        values
            (#{uuid}, #{title})
    </insert>

    <!-- 插入一条记录，返回自增主键 -->
    <insert id="insertFlowNodeBatch"
            keyProperty="id"
            useGeneratedKeys="true"
            parameterType="java.util.List">

        insert into `flow_node` (
            id, next_node_id, form_id, process_id, node_name, node_type, status,
            handler_id, handler_name, handler_group_id, handler_group_name
        )
        <foreach collection="nodes" item="node" index="index" open="values" separator="," close=";">
            (
                #{node.id}, #{node.nextNodeId}, #{node.formId}, #{node.processId}, #{node.nodeName}, #{node.nodeType}, #{node.status},
                #{node.handlerId}, #{node.handlerName}, #{node.handlerGroupId}, #{node.handlerGroupName}
            )
        </foreach>
    </insert>

    <!-- 根据 id 查找记录 -->
    <select id="findById" resultMap="BaseResultMap" parameterType="Integer">
        select
            <include refid="Base_Column_List"/>
        from
            `form_info`
        where
            id = #{id}
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from
            `form_info`
        order by
            create_time desc
    </select>


</mapper>